/* Fonts */
/* M PLUS 1 CODE */
@font-face {
  font-family: mp1c;
  src: url(/mp1c-regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: mp1c;
  src: url(/mp1c-bold.ttf);
  font-weight: bold;
}
/* Share Tech*/
@font-face {
  font-family: share-tech;
  src: url(/sharetech-regular.ttf);
}
@font-face {
  font-family: share-tech-mono;
  src: url(/sharetechmono-regular.ttf);
}
/* Ubuntu */
@font-face {
  font-family: ubuntu;
  src: url(/ubuntu-regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ubuntu;
  src: url(/ubuntu-italic.ttf);
  font-weight: normal;
  font-style: italic;
}
/* That's it! */

body {
  width: clamp(100px, 75%, 800px);
  background: #00A2E8 url("sebby.png") no-repeat right top;
  font-family: share-tech-mono, monospace;
}
h1 {
  font-family: ubuntu, sans-serif !important;
}
